body{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: inter;
    text-decoration: none;
    color: black;
}

.container{
    width: 1500px;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.content {
    margin-top: 10px;
    text-align: center;
}
  
.banner-text{
      margin-left: 55px;
}

.content h6{
    font-size: 10px;
    font-weight: 600;
    color: #7f56d9;
    margin-bottom: 15px;
}

  
.content h1 {
    font-size: 48px;
    line-height: 60px;
    color: #000000;
}
  
.content p {
    font-size: 20px;
    line-height: 25px;
    color: #7b88a5;
}

.Srch-box{
    margin-left: 100px;
}
  
.Srch-box input{
    width: 360px;
    height: 48px;
    border: 1px #D0D5DD solid;
    border-radius: 8px;
    padding: 0px 15px;
    margin-left: -50px;
}

.Srch-box button{
    text-decoration: none;
    background-color: #7f56d9;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    width: 118px;
    height: 48px;
    margin-left: 10px;
}


.Para1{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-left: 74px;
}


.Para1 a{
     margin: 12px 0px 0px 6px; 
    color: #667085;

}

.Para1 p{
    margin-top: 12px;
}

.item4{
    margin: 20px;
    /* border: ; */
    float: left;
    width: 350px;
}

.item4 img{
    width: 100%;
    height: auto;
}

.item5{
    margin: 20px;
    /* border: ; */
    float: left;
    width: 350px;
}

.item5 img{
    width: 100%;
    height: auto;
}

.item6{
    margin: 20px;
    /* border: ; */
    float: left;
    width: 350px;
}

.item6 img{
    width: 100%;
    height: auto;
}

.item7{
    margin: 20px;
    /* border: ; */
    float: left;
    width: 350px;
}

.item7 img{
    width: 100%;
    height: auto;
}

.item8{
    margin: 20px;
    /* border: ; */
    float: left;
    width: 350px;
}

.item8 img{
    width: 100%;
    height: auto;
}

.item9{
    margin: 20px;
    /* border: ; */
    float: left;
    width: 350px;
}

.item9 img{
    width: 100%;
    height: auto;
}
.description{
    padding: 15px;
    text-align: left;
}
ul{
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: left;
    text-indent: 50px;
}
.leadershiptag
.designtag{
    list-style: none;
    background-color: #f9f5ff;
    color: #6941c6;
}

.managementtag
.customertag{
    background-color: #f8f9fc;
    color: #363f72;
}
